<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand" href="{% url 'ecomapp:adminlogin' %}">
        <img src="/media/images.jpg" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" alt="Logo">PrintPRO
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'ecomapp:adminhome' %}">Home</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ecomapp:adminorderlist' %}">All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ecomapp:adminproductlist' %}">All Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ecomapp:home' %}" target="_blank">View site</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    {% block content %}
    
    {% endblock %}
</body>
</html>